<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>ALLCDS</title>
</head>
<body class='bg-gray-50 dark:bg-gray-900'>
    {% include 'navbar.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
  <span class="font-medium">Alert! </span> {{message}}

</div>
    {% endfor %}
    {% endif %}
    <div class='container mx-auto px-4'>
    <br />
    {% block content %}
    {% endblock %}
    </div>


</body>
</html>
