{% extends 'base.html' %}
{% block content %}

<div class="p-16">
    <div class="p-8 bg-white shadow dark:bg-gray-700 mt-24">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
                <div>
                    <p class="font-bold text-gray-700"></p>
                    <p class="text-gray-400"></p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl"></p>
                    <p class="text-gray-400"></p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl"></p>
                    <p class="text-gray-400"></p>
                </div>    </div>    <div class="relative">
                    <div class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" /></svg>
                    </div>
                </div>
                <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
                    <a  href="{% url 'update_record' patient_record.id  %}" class="text-white py-2 px-4 uppercase rounded bg-rose-400 hover:bg-rose-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">  Modify</a>
                    <a  href="{% url 'delete_record' patient_record.id %}" class="text-white text-center align-center py-2 px-4 uppercase rounded bg-rose-700 hover:bg-rose-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">  Delete</a>
                </div>
        </div>
        <div class="mt-20 text-center border-b pb-12">
            <h1 class="text-4xl font-medium text-gray-700 dark:text-white">{{patient_record.first_name}} {{patient_record.last_name}}
                <span class="font-light text-gray-500 dark:text-white">{{patient_record.age}}
                </span>
            </h1>
                    <p class="font-light text-gray-600 mt-3 dark:text-white">{{patient_record.city }}, {{patient_record.state}}</p>
                    <p class="mt-8 text-gray-500 dark:text-white">Diagnosis: {{patient_record.is_true}}</p>
        </div>
        <div class="mt-12 flex flex-col justify-center">
            <h1 class="text-2xl font-extrabold dark:text-white">Note<h1>
            <br>
            <p class="text-gray-600 font-light dark:text-black dark:bg-white m-1 p-4 rounded-2xl	">{{patient_record.info}}</p>
        </div>

        <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Images (Compressed) </h2>
            <br>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.image}}"> Details</a></button>
        </div>

         <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Medical History </h2>
            <br>
            <p  class="text-gray-600 font-light"  ></p>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.medical_history}}"> Details</a></button>
        </div>


         <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Genetic Information</h2>
            <br>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.genatic_information}}"> Details</a></button>
        </div>
        
        <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Lab Results</h2>
            <br>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.lab_results}}"> Details</a></button>
        </div>
        
        <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Radiology Results</h2>
            <br>
            <p  class="text-gray-600 font-light"  ></p>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.radiology_results}}"> Details</a></button>
        </div>
        
        
        <div class="mt-12 flex flex-col justify-center"  >
            <h2 class="text-2xl font-extrabold dark:text-white">Clinical Results</h2>
            <br>
            <button type="button" class="text-white w-24 bg-gradient-to-r from-rose-400 via-rose-500 to-rose-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-rose-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-rose-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="/media/{{patient_record.clinical_results}}"> Details</a></button>
        </div>




    </div>
</div>
{% endblock %}
