{% extends 'base.html' %}


{% block content %}


{% if user.is_authenticated %}
{% if records %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-200 uppercase bg-rose-400 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Name
                </th>
                               <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Clinical Results
                </th>
                  <th scope="col" class="px-6 py-3">
                    View
                </th>
            </tr>
        </thead>
        <tbody>

    {% for record in records %}



            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ record.first_name }}
                </th>

                <td class="px-6 py-4">
                    {{ record.last_name }}
                </td>
                <td class="px-6 py-4">
                    {{record.phone}}
                </td>
                <td class="px-6 py-4">
                    {{record.is_true}}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'record' record.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{record.id}}</a>
                </td>
            </tr>


{% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% else %}
<p>Please sign in  </p>

{% endif %}

{% endblock %}
